doctype html
html(lang='en')
  head
  body
    include templates/header
    #slides
      img(src='../img/slider/images/slide_1.jpg', alt='')
      img(src='../img/slider/images/1.jpg', alt='')
      img(src='../img/slider/images/slide_3.jpg', alt='')
      img(src='../img/slider/images/slide_4.jpg', alt='')
      img(src='../img/slider/images/slide_5.jpg', alt='')
    .container
      .row.main-low-margin.text-center
        .col-md-4.col-sm-4
          .circle-body
            i.fa.fa-truck.fa-5x.icon-set
          h3 TESTED DESIGN
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
        .col-md-4.col-sm-4
          .circle-body
            i.fa.fa-dollar.fa-5x.icon-set
          h3 SAVE YOUR MONEY
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
        .col-md-4.col-sm-4
          .circle-body
            i.fa.fa-envelope.fa-5x.icon-set
          h3 WELL DOCUMENTED
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
      .row.main-low-margin
        .col-md-8.col-sm-8
          h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
        .col-md-4.col-sm-4.text-center
          img.img-circle(src='../img/person.png')
          h3 Lorem ipsum dolor
          h4 Lorem ipsum dolor sit
      .row.main-low-margin
        .col-md-3.col-sm-3.text-center
          i.fa.fa-desktop.fa-5x
          h3 TESTED DESIGN
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
        .col-md-3.col-sm-3.text-center
          i.fa.fa-comments-o.fa-5x
          h3 READY TO USE
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
        .col-md-6.col-sm-6
          h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
    .space-bottom
    #footer
      .row
        .col-md-4
          h4 Quick Information :
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
          button.btn.btn-primary(type='submit') Get Quote
        .col-md-4
          h4 Need Help ? Write Us.
          hr
          form
            .row
              .col-md-6.col-sm-6
                .form-group
                  input.form-control(type='text', required='required', placeholder='Name')
              .col-md-6.col-sm-6
                .form-group
                  input.form-control(type='text', required='required', placeholder='Email address')
            .row
              .col-md-12.col-sm-12
                .form-group
                  textarea#message.form-control(name='message', required='required', rows='3', placeholder='Message')
                .form-group
                  button.btn.btn-primary(type='submit') Submit Request
        .col-md-4
          a(href='#')
            i.fa.fa-facebook-square.fa-3x.color-facebook
          a(href='#')
            i.fa.fa-twitter-square.fa-3x.color-twitter
          a(href='#')
            i.fa.fa-google-plus-square.fa-3x.color-google-plus
          a(href='#')
            i.fa.fa-linkedin-square.fa-3x.color-linkedin
          a(href='#')
            i.fa.fa-pinterest-square.fa-3x.color-pinterest
          hr
          p
            | 103, New Street,
            br
            |                     New York, USA.
            br
            |                     Call: +23-00-89-009
            br
            |                     Email: demo@yourdomain.com
            br
          |                 2014 www.yourdomain.com | All Right Reserved
    script(src='../js/jquery.js')
    script(src='../js/bootstrap.min.js')
    script(src='../Slides-SlidesJS-3/examples/playing/js/jquery.slides.min.js')
    script.
      $(document).ready(function () {
        $('#slides').slidesjs({
          width: 940,
          height: 528,
          play: {
            active: true,
            auto: true,
            interval: 4000,
            swap: true
          }
        });
        $('#slides >').slice(1).remove();
      });
