doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Bootstrap Mutipager Template - Maxop
  body
    include templates/header
    .section
      .container
        .row.main-low-margin
          .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
            h1 Our Services
            h5
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
              | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
    .container
      .row.main-low-margin.text-center
        .col-md-4.col-sm-4
          .circle-body
            i.fa.fa-flask.fa-5x.icon-set
          h3 TESTED DESIGN
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
        .col-md-4.col-sm-4
          .circle-body
            i.fa.fa-bell-o.fa-5x.icon-set
          h3 EASY TO CUSTOMIZE
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
        .col-md-4.col-sm-4
          .circle-body
            i.fa.fa-edit.fa-5x.icon-set
          h3 WELL DOCUMENTED
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
      .row.main-low-margin
        .col-md-8.col-sm-8
          h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
        .col-md-4.col-sm-4.text-center
          .circle-body
            i.fa.fa-desktop.fa-5x.icon-set
          h3 TESTED DESIGN
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
    .space-bottom
    #footer
      .row
        .col-md-4
          h4 Quick Information :
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
          button.btn.btn-primary(type='submit') Get Quote
        .col-md-4
          h4 Need Help ? Write Us.
          hr
          form
            .row
              .col-md-6.col-sm-6
                .form-group
                  input.form-control(type='text', required='required', placeholder='Name')
              .col-md-6.col-sm-6
                .form-group
                  input.form-control(type='text', required='required', placeholder='Email address')
            .row
              .col-md-12.col-sm-12
                .form-group
                  textarea#message.form-control(name='message', required='required', rows='3', placeholder='Message')
                .form-group
                  button.btn.btn-primary(type='submit') Submit Request
        .col-md-4
          a(href='#')
            i.fa.fa-facebook-square.fa-3x.color-facebook
          a(href='#')
            i.fa.fa-twitter-square.fa-3x.color-twitter
          a(href='#')
            i.fa.fa-google-plus-square.fa-3x.color-google-plus
          a(href='#')
            i.fa.fa-linkedin-square.fa-3x.color-linkedin
          a(href='#')
            i.fa.fa-pinterest-square.fa-3x.color-pinterest
          hr
          p
            | 103, New Street,
            br
            |                     New York, USA.
            br
            |                     Call: +23-00-89-009
            br
            |                     Email: demo@yourdomain.com
            br
          |                 2014 www.yourdomain.com | All Right Reserved
    script(src='../js/jquery.js')
    script(src='../js/bootstrap.min.js')
