doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    //if IE
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    // GOOGLE FONT
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    // BOOTSTRAP MAIN STYLES
    link(href='../css/bootstrap.css', rel='stylesheet')
    // FONTAWESOME MAIN STYLE
    link(href='../css/font-awesome.min.css', rel='stylesheet')
    // SLIDER CSS CLASES
    link(href='../Slides-SlidesJS-3/examples/playing/css/slider.css', rel='stylesheet')
    // CUSTOM STYLE
    link(href='../css/style.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    title Main page
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js")
    <!-- Latest compiled and minified CSS -->
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
   link(rel="stylesheet"  href="../css/header.css")
body(ng-app)
  nav.navbar.navbar-inverse.navbar-fixed-top.style-header(role="navigation")
    div.header-tel-number.col-lg-10.col-lg-offset-1.col-xs-12
      span
        i.fa.fa-phone
        | 093-411-37-74
      span.lang(id="ukr" title="Українською")
        a(href="/")
          img(src="../img/logo/Ukraine-Flag.png")
      span.lang(id="en" title="English")
        a(href="/en")
          img(src="../img/logo/United-Kingdom-flag.png")
    div.container.col-lg-10.col-lg-offset-1.col-xs-12
      div.navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        div(id="brand-title-div")
          a.navbar-brand(href="/")
            img(id="brand-image" src="../img/logo/log.png" style="height:40px")
            div(id="brand-title") Будремавто
      div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/")
              i.fa.fa-home
              | Головна
          li
            a(href="/about")
              i.fa.fa-info
              | Про компанію
          li
            a(href="/services")
              i.fa.fa-tasks
              | Товари
          li
            a(href="/vacancy/")
              i.fa.fa-user
              | Вакансії
          li
            a(href="/contact")
              i.fa.fa-phone
              | Контакти
          li
            a(href="/prices")
              i.fa.fa-shopping-cart
              | Замовлення